<!DOCTYPE html>
<html>
<head>
    <title>Enter 2 primes numbers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}

        <h1>Enter Two Prime Numbers</h1>
        <form method="post" action="/generate_keys_manual" class="centering">
            <label><b>Prime p:</b></label>
            <input type="number" name="p" required><br><br>

            <label><b>Prime q:</b></label>
            <input type="number" name="q" required><br><br>

            <button type="submit">Compute Keys</button>

            <div style="margin-top: 15px;">
                <a href="/">Back</a>
            </div>
        </form>
    </div>

</body>
</html>