<!DOCTYPE html>
<html>
<head>
    <title>Crypto UI</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Encryption System</h1>

    <!--LIST CAC THUAT TOAN-->
    <form action="/set_algorithm" method="post">
        <label>
            <input type="radio" name="algo" value="RSA" checked> RSA
        </label>

        <!-- THEM THUAT TOAN MOI VO DAY -->
        
        <button type="submit">Confirm Algorithm</button>
    </form>

    <!--RSA ONLY - GENERATE KEY-->
    <h3>Generate RSA Keys</h3>
    <form method="get" action="/enterprimes">
        <button type="submit">Generate Keys</button>
    </form>

    <h3>Encrypt File</h3>
    <form method="post" action="/choose_encrypt" enctype="multipart/form-data">
        <button type="submit">Encrypt</button>
    </form>

    <h3>Decrypt File</h3>
    <form method="post" action="/choose_decrypt" enctype="multipart/form-data">
        <button type="submit">Decrypt</button>
    </form>
</body>
</html>